@charset "utf-8";
:root{
    --color-one:#F21326;
    --color-two:#F2133C;
    --color-three:#F2B807;
    --color-four:#F2A007;
    --color-five:#0D0D0D;
}



  
    
.main-header{
    background-color: var(--color-five);
    
   
}

#primary-nav{
    display:none;
}

#element-header{
   display: flex;
   flex-direction:row;
   justify-content:space-between
  
}

#img-logo{
    border-radius: 50%;
    width: 80px;;
    height: 80px;

}


.nav-toggle-btn{
     width: 25px;;
    height:25px;
    margin-top: 15px;
}

.hero{
    height: 100dvh;
    background-image: url("assets/imgs/Img-Header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


h1{
    margin-top:40px;
}

p{
    font-size: var(--fs-h3);}
   
